<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>boardDeleteCon</servlet-name>
  	<display-name>boardDeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.boardDeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>boardUpdateCon</servlet-name>
  	<display-name>boardUpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.boardUpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCon</servlet-name>
  	<display-name>DeleteCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinCon</servlet-name>
  	<display-name>JoinCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginCon</servlet-name>
  	<display-name>LoginCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutCon</servlet-name>
  	<display-name>LogoutCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateCon</servlet-name>
  	<display-name>UpdateCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>writeCon</servlet-name>
  	<display-name>writeCon</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.writeCon</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardController</servlet-name>
  	<display-name>BoardController</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardDeleteCon</servlet-name>
  	<url-pattern>/boardDeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>boardUpdateCon</servlet-name>
  	<url-pattern>/boardUpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCon</servlet-name>
  	<url-pattern>/DeleteCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinCon</servlet-name>
  	<url-pattern>/JoinCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginCon</servlet-name>
  	<url-pattern>/LoginCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutCon</servlet-name>
  	<url-pattern>/LogoutCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateCon</servlet-name>
  	<url-pattern>/UpdateCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>writeCon</servlet-name>
  	<url-pattern>/writeCon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardController</servlet-name>
  	<url-pattern>/BoardController</url-pattern>
  </servlet-mapping>
</web-app>
